:root {
  --font-ko-main: 'Pretendard', sans-serif;
  --font-ko-sub: 'Nanum Gothic', sans-serif;
  --font-en-main: 'Playfair Display', sans-serif;
  --color-primary: #885411;
  --color-secondary: #ECE1DA;
}